@import "../bower_components/bootstrap/less/bootstrap.less";
@import "variables.less";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  position: relative;
}

section {
  padding-top: @navbar-height;
  > img {
    max-width: 100%;
  }
}

.navbar-brand {
  > img {
    margin: 20px 0 0 15px;
  }
}

.navbar-nav {
  text-transform: uppercase;
  font-weight: 700;

  > li {
    @media (min-width: @screen-sm-min) {
      margin-top: 60px;
    }
  }
}

.navbar-toggle {
  background-color: #eee;
  margin-right: 15px;
}

#what {
  font-size: 1.2em;
  text-transform: uppercase;

  @media (min-width: @screen-sm-min) {
    font-size: 1.4em;
  }

  .hero {
    margin-bottom: 20px;

    @media (min-width: @screen-sm-min) {
      margin-bottom: 80px;
    }
  }

  p {
    margin: 0 15px 10px 15px;

    &:first-of-type {
      strong {
        color: @brand-primary;
        font-weight: 100;
      }
    }

    &:last-of-type {
      strong {
        color: @navbar-default-link-color;
        font-weight: 100;
      }
    }

    @media (min-width: @screen-sm-min) {
      margin: 0 40px 20px 40px;
    }
  }
}

#team {
  h1 {
    font-size: 2em;
    font-weight: 700;
    color: @brand-primary;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;

    @media (min-width: @screen-sm-min) {
      font-size: 3em;
    }
  }
}

#team-carousel {

  .carousel-indicators {
    display: none;
  }

  ul.list-inline {
    text-align: center;
  }

  .team-member {
    position: relative;
    color: #2c3e50;
    padding: 0 5px;
    vertical-align: top;
    max-width: 100px;

    img {
      max-width: 100%;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    h2 {
      font-size: .9em;
      margin: 5px;
    }

    h3 {
      font-size: .7em;
      line-height: 1.4em;
      margin: 0;
    }

    @media (min-width: @screen-sm-min) {
      max-width: none;
      padding: 0 20px;

      h2 {
        font-size: 1em;
      }

      h3 {
        font-size: .8em;
      }
    }
  }

  .carousel-control {
    width: 10%;
    opacity: 1;

    &.left {
      background: none;
      .glyphicon {
        left: 0;
        margin-left: 0;
      }
    }
    &.right {
      background: none;
      .glyphicon {
        right: 0;
        margin-right: 0;
      }
    }

    .glyphicon {
      width: 24px;
      height: 24px;
      background-color: #B9BDBC;
      color: #fff;
      border-radius: 50%;
      line-height: 24px;
      font-size: 16px;
      text-shadow: none;
      margin-top: -17px;

      @media (min-width: @screen-sm-min) {
        width: 47px;
        height: 47px;
        font-size: 20px;
        line-height: 47px;
        margin-top: -68px;
      }
    }

    &:hover {
      .glyphicon {
        background-color: @brand-primary;
      }
    }
  }
}

#contact {
  background-color: #49C9AF;
  color: #fff;
  padding: @navbar-height 15px 80px 15px;
  font-weight: 100;
  margin-top: -50px;

  h1 {
    color: #262262;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    font-size: .8em;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 30px;
  }

  address {
    line-height: 1.5em;
    text-align: center;

    p {
      margin-bottom: 20px;
    }
  }

  a {
    color: #fff;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: 100;
    text-transform: uppercase;
    font-size: .8em;
    padding-bottom: 5px;
  }

  input[type="text"], input[type="email"], textarea {
    background-color: #3FB79F;
    border: 1px solid transparent;
    font-size: .9em;
    color: #fff;
    padding: 15px 20px;

    &:focus {
      border: 1px solid darken(#3FB79F, 2%);
      outline: 0 none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  textarea {
    height: 135px;
  }

  .error {
    display: block;
    font-size: .8em;
    color: fade(#fff, 80%);
    padding: 2px 0 0 21px;
  }

  .btn-primary {
    display: block;
    width: 100%;
    padding: 4px 30px;
    border-radius: 0;

    &:hover, &:focus, &:active {
      background-color: #2c3e50;
      border: 1px solid #2c3e50;
    }
  }

  @media (min-width: @screen-sm-min) {
    padding: @navbar-height 40px 80px 40px;

    h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 1.15em;
      margin-bottom: 60px;
    }

    address {
      text-align: left;
    }

    .btn-primary {
      display: inline-block;
      float: right;
      width: auto;
    }
  }
}

footer {
  font-size: .6em;
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0;

  @media (min-width: @screen-sm-min) {
    font-size: .75em;
    padding: 80px 0;
  }
}
